<div class="container">
  <form #form class="formclass" >
      <input #newwish class="form-control" 
              type="text"
              placeholder="I want....."
              
              >
      <button class="btn btn-primary rounded-pill"  
              type="submit"
              (click)="$event.preventDefault(); 
                       addNewWish(newwish.value);
                       form.reset();
                       "
              > Add Wish </button>
  </form>
  <div>
    <select  class="form-select" [(ngModel)] = "searchTerm" >
      <option value="0">All</option>
      <option value="1">Fulfilled</option>
      <option value="2">Unfulfilled</option>
    </select>
  </div>
  @if (wishList().length > 0) {
    <div>
      <label class="form-check-label">
        @for (wish of wishList() | filterWishes:searchTerm() ; track wish.wishText) {
          <app-wish-list [wish]="wish"></app-wish-list>
        }
      </label>
    </div>
  }
  @else {
    <p>All your wishes are fulfiled....!!</p>
  }
</div>