<div class="container">
  <form #form class="formclass" >
      <input #newwish class="form-control" 
              type="text"
              placeholder="I want....."
              
              >
      <button class="btn btn-primary rounded-pill"  
              type="submit"
              (click)="$event.preventDefault(); 
                       addNewWish(newwish.value);
                       form.reset();
                       "
              > Add Wish </button>
  </form>
  <div>
    <select  class="form-select" [(ngModel)] = "searchTerm" >
      <option value="0">All</option>
      <option value="1">Fulfilled</option>
      <option value="2">Unfulfilled</option>
    </select>
  </div>
  <div>
    <app-wish-list [wishes]="wishList"> </app-wish-list>
  </div>
</div>